/* Extra Stuff */
[data-css4-version]::after {
    content: " v1.2.0.1-lite";
}
/* Rules */
[data-css4~="underline"] {
    text-decoration: underline;
}

[data-css4~="overline"] {
    text-decoration: overline;
}

[data-css4~="strikethrough"] {
    text-decoration: line-through;
}

[data-css4~="bold"] {
    font-weight: bold;
}

[data-css4~="italic"] {
    font-style: italic;
}

[data-css4~="font:monospace"] {
    font-family: monospace;
}

[data-css4~="font:serif"] {
    font-family: serif;
}

[data-css4~="font:sans-serif"] {
    font-family: sans-serif;
}

[data-css4~="text-color:red"] {
    color: red;
}

[data-css4~="text-color:orange"] {
    color: orange;
}

[data-css4~="text-color:yellow"] {
    color: yellow;
}

[data-css4~="text-color:green"] {
    color: green;
}

[data-css4~="text-color:blue"] {
    color: blue;
}

[data-css4~="text-color:purple"] {
    color: purple;
}

[data-css4~="text-color:black"] {
    color: black;
}

[data-css4~="text-color:darkgray"] {
    color: gray;
}

[data-css4~="text-color:gray"] {
    color: darkgray;
}

[data-css4~="text-color:white"] {
    color: white;
}

[data-css4~="font-size:xxsmall"] {
    font-size: 8px;
}

[data-css4~="font-size:xsmall"] {
    font-size: 9px;
}

[data-css4~="font-size:small"] {
    font-size: 10px;
}

[data-css4~="font-size:normal"] {
    font-size: 1em;
}

[data-css4~="font-size:large"] {
    font-size: 20px;
}

[data-css4~="font-size:xlarge"] {
    font-size: 25px;
}

[data-css4~="font-size:xxlarge"] {
    font-size: 30px;
}

[data-css4~="width:xxsmall"] {
    width: 15px;
}

[data-css4~="width:xsmall"] {
    width: 50px;
}

[data-css4~="width:small"] {
    width: 100px;
}

[data-css4~="width:medium"] {
    width: 200px;
}

[data-css4~="width:large"] {
    width: 50%;
}

[data-css4~="width:xlarge"] {
    width: 75%;
}

[data-css4~="width:xxlarge"] {
    width: 100%;
}

[data-css4~="height:xxsmall"] {
    height:15px;
}

[data-css4~="height:xsmall"] {
    height:50px;
}

[data-css4~="height:small"] {
    height:100px;
}

[data-css4~="height:medium"] {
    height:200px;
}

[data-css4~="height:large"] {
    height:50%;
}

[data-css4~="height:xlarge"] {
    height:75%;
}

[data-css4~="height:xxlarge"] {
    height:100%;
}

[data-css4~="border:red"] {
    border: 1px solid red;
}

[data-css4~="border:orange"] {
    border: 1px solid orange;
}

[data-css4~="border:yellow"] {
    border: 1px solid yellow;
}

[data-css4~="border:green"] {
    border: 1px solid green;
}

[data-css4~="border:blue"] {
    border: 1px solid blue;
}

[data-css4~="border:purple"] {
    border: 1px solid purple;
}

[data-css4~="border:black"] {
    border: 1px solid black;
}

[data-css4~="border:darkgray"] {
    border: 1px solid gray;
}

[data-css4~="border:gray"] {
    border: 1px solid darkgray;
}

[data-css4~="border:white"] {
    border: 1px solid white;
}

[data-css4~="border-remove"] {
    border: 0px none white;
}

[data-css4~="position:top"] {
    top: 0px;
}

[data-css4~="position:bottom"] {
    bottom: 0px;
}

[data-css4~="position:top-left"] {
    top: 0px;
    left: 0px;
}

[data-css4~="position:top-right"] {
    top: 0px;
    right: 0px;
}

[data-css4~="position:bottom-left"] {
    bottom: 0px;
    left: 0px;
}

[data-css4~="position:bottom-right"] {
    top: 0px;
    bottom: 0px;
}

[data-css4~="position:left"] {
    left: 0px;
}

[data-css4~="postion:top-left"] {
    top: 0px;
    left: 0px;
}

[data-css4~="position:top-right"] {
    top: 0px;
    right: 0px;
}

[data-css4~="position:bottom-left"] {
    bottom: 0px;
    left: 0px;
}

[data-css4~="position:bottom-right"] {
    top: 0px;
    bottom: 0px;
}

[data-css4~="position:left"] {
    left: 0px;
}

[data-css4~="position:leftoffset"] {
    left: 5px;
}

[data-css4~="position:xleftoffset"] {
    left: 10px;
}

[data-css4~="position:xxleftoffset"] {
    left: 25px;
}

[data-css4~="position:xxxleftoffset"] {
    left: 100px;
}

[data-css4~="position:xxxxleftoffset"] {
    left: 200px;
}

[data-css4~="position:xxxxxleftoffset"] {
    left: 500px;
}

[data-css4~="position:xxxxxxleftoffset"] {
    left: 25%;
}

[data-css4~="position:rightoffset"] {
    right: 5px;
}

[data-css4~="position:xrightoffset"] {
    right: 10px;
}

[data-css4~="position:xxrightoffset"] {
    right: 25px;
}

[data-css4~="position:xxxrightoffset"] {
    right: 100px;
}

[data-css4~="position:xxxxrightoffset"] {
    right: 200px;
}

[data-css4~="position:xxxxxrightoffset"] {
    right: 500px;
}

[data-css4~="position:xxxxxxrightoffset"] {
    right: 25%;
}

[data-css4~="position:right"] {
    right: 0px;
}

[data-css4~="position-mode:align"] {
    position: relative;
}

[data-css4~="position-mode:absolute"] {
    position: absolute;
}

[data-css4~="position-mode:fixed"] {
    position: fixed;
}

[data-css4~="position-mode:sticky"] {
    position: sticky;
}

[data-css4~="position-mode:sticky"][data-css4-mode="ie_mode"] {
    position: fixed;
}

[data-css4~="text-align:left"] {
    text-align: left;
}

[data-css4~="text-align:center"] {
    text-align: center;
}

[data-css4~="text-align:right"] {
    text-align: right;
}

[data-css4~="element-align:left"] {
    float: left;
}

[data-css4~="element-align:right"] {
    float: right;
}

[data-css4~="margin:none"] {
    margin: 0px;
}

[data-css4~="margin:xxsmall"] {
    margin: 1px;
}

[data-css4~="margin:xsmall"] {
    margin: 2px;
}

[data-css4~="margin:small"] {
    margin: 4px;
}

[data-css4~="margin:medium"] {
    margin: 8px;
}

[data-css4~="margin:large"] {
    margin: 10px;
}

[data-css4~="margin:xlarge"] {
    margin: 20px;
}

[data-css4~="margin:xxlarge"] {
    margin: 2.1em;
}

[data-css4~="padding:none"] {
    padding: 0px;
}

[data-css4~="padding:xxsmall"] {
    padding: 1px;
}

[data-css4~="padding:xsmall"] {
    padding: 2px;
}

[data-css4~="padding:small"] {
    padding: 4px;
}

[data-css4~="padding:medium"] {
    padding: 8px;
}

[data-css4~="padding:large"] {
    padding: 10px;
}

[data-css4~="padding:xlarge"] {
    padding: 20px;
}

[data-css4~="padding:xxlarge"] {
    padding: 2em;
}

[data-css4~="background-color:red"] {
    background-color: red;
}

[data-css4~="background-color:orange"] {
    background-color: orange;
}

[data-css4~="background-color:yellow"] {
    background-color: yellow;
}

[data-css4~="background-color:green"] {
    background-color: green;
}

[data-css4~="background-color:blue"] {
    background-color: blue;
}

[data-css4~="background-color:purple"] {
    background-color: purple;
}

[data-css4~="background-color:black"] {
    background-color: black;
}

[data-css4~="background-color:darkgray"] {
    background-color: gray;
}

[data-css4~="background-color:gray"] {
    background-color: darkgray;
}

[data-css4~="background-color:white"] {
    background-color: white;
}

[data-css4~="button:outline-cursor"] {
    outline: 2px outset darkgray;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"]:active {
    outline: 2px inset darkgray;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:red"] {
    outline: 2px outset red;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:red"]:active {
    outline: 2px inset red;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:orange"] {
    outline: 2px outset orange;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:orange"]:active {
    outline: 2px inset orange;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:yellow"] {
    outline: 2px outset yellow;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:yellow"]:active {
    outline: 2px inset yellow;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:green"] {
    outline: 2px outset green;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:green"]:active {
    outline: 2px inset green;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:blue"] {
    outline: 2px outset blue;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:blue"]:active {
    outline: 2px inset blue;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:purple"] {
    outline: 2px outset purple;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:purple"]:active {
    outline: 2px inset purple;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:black"] {
    outline: 2px outset black;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:black"]:active {
    outline: 2px inset black;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:darkgray"] {
    outline: 2px outset gray;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:darkgray"]:active {
    outline: 2px inset gray;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:gray"] {
    outline: 2px outset darkgray;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:gray"]:active {
    outline: 2px inset darkgray;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:black"] {
    outline: 2px outset black;
    cursor: pointer;
}

[data-css4~="button:outline-cursor"][data-css4~="background-color:black"]:active {
    outline: 2px inset black;
}

[data-css4~="button:outline"][data-css4~="background-color:red"] {
    outline: 2px outset red;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:red"]:active {
    outline: 2px inset red;
}

[data-css4~="button:outline"][data-css4~="background-color:orange"] {
    outline: 2px outset orange;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:orange"]:active {
    outline: 2px inset orange;
}

[data-css4~="button:outline"][data-css4~="background-color:yellow"] {
    outline: 2px outset yellow;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:yellow"]:active {
    outline: 2px inset yellow;
}

[data-css4~="button:outline"][data-css4~="background-color:green"] {
    outline: 2px outset green;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:green"]:active {
    outline: 2px inset green;
}

[data-css4~="button:outline"][data-css4~="background-color:blue"] {
    outline: 2px outset blue;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:blue"]:active {
    outline: 2px inset blue;
}

[data-css4~="button:outline"][data-css4~="background-color:purple"] {
    outline: 2px outset purple;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:purple"]:active {
    outline: 2px inset purple;
}

[data-css4~="button:outline"][data-css4~="background-color:black"] {
    outline: 2px outset black;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:black"]:active {
    outline: 2px inset black;
}

[data-css4~="button:outline"][data-css4~="background-color:darkgray"] {
    outline: 2px outset gray;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:darkgray"]:active {
    outline: 2px inset gray;
}

[data-css4~="button:outline"][data-css4~="background-color:gray"] {
    outline: 2px outset darkgray;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:gray"]:active {
    outline: 2px inset darkgray;
}

[data-css4~="button:outline"][data-css4~="background-color:black"] {
    outline: 2px outset black;
    cursor: pointer;
}

[data-css4~="button:outline"][data-css4~="background-color:black"]:active {
    outline: 2px inset black;
}

[data-css4~="button:cursor"] {
    cursor: pointer;
}

[data-css4~="scroll:true"] {
    overflow: scroll;
}

[data-css4~="scroll:auto"] {
    overflow: auto;
}

[data-css4~="scroll:false"] {
    overflow: hidden;
}

[data-css4~="scroll-x:true"] {
    overflow-x: scroll;
}

[data-css4~="scroll-x:auto"] {
    overflow-x: auto;
}

[data-css4~="scroll-x:false"] {
    overflow-x: hidden;
}

[data-css4~="scroll-y:true"] {
    overflow-y: scroll;
}

[data-css4~="scroll-y:auto"] {
    overflow-y: auto;
}

[data-css4~="bothline"] {
    text-decoration: underline overline;
}

[data-css4~="resizeable"] {
    resize: both;
}